body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: rgb(103, 4, 103);
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

header {
    padding: 20px 0 0 0;
    background: whitesmoke;
    text-align: center;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

.borrar-destino {
    background-color: white;
    border-radius: 10%;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul {
    list-style: none;
}

.hero {
    background-image: url(../imagenes/mexico.jpg);
    height: 500px;
}

.encabezado {
    margin: 30px 0;
    color: rgb(3, 89, 3);
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
    position: absolute;

}

.submenu:hover #carrito  {
    display: block;
    color:white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: rgb(0, 0, 0);
    padding: 20px;
}

.vacio {
    padding: 10px;
    background-color: aqua;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.button {
    background-color: aqua;
    color: white;
}

.contenido-hero {
    margin-top: 80px;
    color: purple;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}

.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9990px;
    width: 50px;
    background-image: url(../imagenes/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    
}

.lista-viajes .row {
    margin-bottom: 20px;
}

.agregar-carrito {
    margin: 0 0 0 0;
}

.card {
    text-align: center;
    border: 1px solid white;
    background: rgb(235, 244, 241);
}


.info-card {
    padding: 10px 20px;
}

.info-card p,
.card h4 {
    margin-bottom: 5px;
}

.precio {
    font-weight: 700;
    font-size: 17px;
}

.footer {
    margin-top: 40px;
    padding-top: 40px;
    background-color: #d0e3ea;
}

.footer .menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

